* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: roboto;
}

@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

.header {
  display: flex;
  width: 100vw;
  background-color: #334155;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 86px;
  color: white;
}

.container {
  width: 100vw;
  padding: 25px 20%;
  text-align: center;
  color: #e2e8f0;
}

.container h1 {
  padding-bottom: 25px;
  height: 65px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.slot {
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 166px;
  height: 166px;
  font-size: 86px;
}

.slot:hover {
  background-color: #15203a;
}

.slot:active {
  background-color: #1b2949;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  color: white;
  background-color: #334155;
  border: 2px solid #1e2733;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  font-size: 16px;
}

.buttonContainer button:hover {
  background-color: #42546d;
}

.buttonContainer button:active {
  background-color: #506583;
}
