* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
  font-family: roboto;
}

@font-face {
  font-family: roboto;
  src: url(Roboto-Regular.ttf);
}

.header {
  display: flex;
  width: 100vw;
  background-color: #334155;
  height: 150px;
  justify-content: center;
  align-items: center;
  font-size: 86px;
  color: white;
}

.container {
  width: 100vw;
  background-color: rgb(34, 31, 61);
  padding: 50px 20%;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background-color: white;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
.slot {
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 86px;
}

.slot:hover {
  background-color: #15203a;
}
